# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Explore commonly used libraries in Data Science.
- Discuss open-source development environment tools used in Data Science.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
| ----------------- |
| Tool 1: Jupyter Notebook           |
| Tool 2: RStudio            |
| Tool 3: VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python.

#### This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [6]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Yeji Shim